@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>

@*//INSERT INTO [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'300fe04a-cd4f-4780-8963-fdc10b295bbd', N'abc@gmail.com', 0, N'AGbaweN3fKiI2Pv88PQP9AjjAsmhchfwB+YLq2INznYc2YWu+gT63Vfvn+7SVXRlBw==', N'7f4960bd-fa52-4478-84b1-393fe20a90bf', NULL, 0, 0, NULL, 1, 0, N'abc@gmail.com')*@
@*ZAQ13wsx!*@
@*Made by Hugo Was Late*@