@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page privides informations about movies, actors and producers.
    You will find ratings, comments, trailers and discussions
    We based our website on IMDb </p>
