@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    New street<br />
    Leicester, LE LE35LN<br />
    <abbr title="Phone">P:</abbr>
    07846548488
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:MovieSupport@gmail.com">MovieSupport@gmail.com</a><br />
    <strong>Enquires:</strong>   <a href="mailto:BusinessEnquires@gmail.com">BusinessEnquires@gmail.com</a><br />
</address>