@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    New street<br />
    Leicester, LE LE1<br />
    <abbr title="Phone">P:</abbr>
    07846548488
</address>
    Hugo Was Late<br />
    Dmu Year2 <br />
              <br />
              <table>

                  <tr>
                      <th>Name </th>
                      <th>role </th>
                  </tr>
                  <tr>

                      <td>Ho Wei Chan </td>
                      <td>•	Developer </td>
                  </tr>
                  <tr>

                      <td>Mateusz</td>
                      <td>•	Developer </td>
                  </tr>
                  <tr>

                      <td>Enio</td>
                      <td>•Analyst </td>
                  </tr>
                  <tr>

                      <td>Siu Him Ho</td>
                      <td>•Analyst </td>
                  </tr>
              </table>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:MovieSupport@gmail.com">MovieSupport@gmail.com</a><br />
    <strong>Enquires:</strong>   <a href="mailto:BusinessEnquires@gmail.com">BusinessEnquires@gmail.com</a><br />
</address>