@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top 10 movies</h1>
    <p class="lead">Movies displayed based on average user rating</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <h2>Movie 1</h2>
        <p> test movie description </p>
        <p><a href="~/Movies/Details/2" @*class="btn btn-primary*@ ">Fast n Furious &raquo;</a></p>
    </div>
    
</div>