@model MovieReviewWebsite.Models.Movie

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top 10 movies</h1>
    <p class="lead">Movies displayed based on average user rating</p>
    <p><a href="http://localhost:2269/Movies" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Latest Movies
        </h2>
        <p> @*test movie description*@ </p>

        <p><a href="~/Movies/Details/1" class="btn btn-primary ">Cars</a></p>
        <p><a href="~/Movies/Details/2" class="btn btn-primary ">Fast and Furious 261</a></p>
    </div>

    <div class="col-md-4">
        <h2>

            <a href="http://localhost:2269/Movies?CategoryName=Any&Rating=Best"> Best Movie</a>
        </h2>
        <p> @*test movie description*@ </p>

        <p><a href="~/Movies/Details/2" class="btn btn-primary ">Fast and Furious 261</a></p>
    </div>

    <div class="col-md-4">
        <h2> Genres</h2>
        <a href="http://localhost:2269/Movies?CategoryName=Horror&Rating=Best">Horror</a><br />
        <a href="http://localhost:2269/Movies?CategoryName=Comedy&Rating=Best">Comedy</a><br />
        <a href="http://localhost:2269/Movies?CategoryName=Action&Rating=Best">Action</a><br />
        <a href="http://localhost:2269/Movies?CategoryName=Romance&Rating=Best">Romance</a><br />
    </div>


</div>